.VanVentura-Container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 500px;

  a {
    margin-top: 40px;
    width: fit-content;
    align-self: center;
  }

  p {
    margin-bottom: 40px;
  }
}
.bild {
  margin: 60px auto;
  width: 800px;
}
